.env
.git-repo/
.git-empty-backup-*/
config.json
.cache/
dist/
goreleaser-dist/
release/
daemon.json
favicon.ico
build/release.config.json
data/*.db
data/*.db-*
backend/data/*.db
backend/data/*.db-*
**/__debug_bin.exe
**/Thumbs.db

backend/bin/
backend/tmp/
backend/web/dist/

frontend/node_modules/
frontend/dist/
frontend/.vite/
